/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #ffffff;
    --color-de-fondo-menu: #ffffff;
    --color-de-fondo-principal: #F3F3E0;
    --color-de-fondo-secundario: #CBDCEB;
    --color-de-fondo-terciario: #133E87;
    --color-de-fondo-cuaternario: #608BC1;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-menu);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 6rem 2rem 6rem;
    background-color: var(--color-de-fondo-menu);
}

.cabecera__contenedor__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecera__logo {
    max-width: 80px; /* Ajuste para pantallas pequeñas */
}

.cabecera__titulo {
    font-size: 1.5rem;
    font-weight: 400;
}

.navegacion__lista {
    display: none;
    font-size: 1rem;
}

.navegacion__elemento a {
    font-size: 0.9rem;
}
/* ------------------------------ Sección Presentación ------------------------------*/

.presentacion {
    display: flex;
    align-items: center;
    padding: 2rem 6rem 2rem 6rem;
    gap: 3rem;
    background-color: var(--color-de-fondo-principal);
}

.presentacion__foto {
    max-width: 360px;
    border-radius: 50%;
}

.presentacion__titulo {
    font-size: 2.5rem;
    font-weight: bold;
}

.presentacion__parrafo {
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 0;
}

.redes {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1.5rem;
}

.redes__arrow {
    max-width: 0.75rem;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi {
    padding: 2rem 20rem 2rem 20rem;
    background-color: var(--color-de-fondo-secundario);
}

.sobre-mi__titulo {
    font-size: 1.5rem;
    font-weight: bold;
}

.sobre-mi__texto {
    font-size: 1rem;
    font-weight: 300;
}

/*------------------------------ Sección de Habilidades y Aficiones ------------------------------*/

.habilidades__y__aficiones {
    padding: 2rem 6rem 2rem 6rem;
    background-color: var(--color-de-fondo-principal);
}

.habilidades__y__aficiones__titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
}

.habilidades__y__aficiones__lista {
    display: flex;
    justify-content: space-around;
}

.habilidades__y__aficiones__elemento {
    background-color: var(--color-de-fondo-menu);
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.habilidades__y__aficiones__icono {
    max-width: 50px;
}

/*------------------------------ Sección de Formación --------------------------------*/

.formacion {
    padding: 2rem 6rem 2rem 6rem;
    background-color: var(--color-de-fondo-secundario);
}

.formacion__lista {
    display: flex;
    justify-content: space-around;
}

.formacion__titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
}

.formacion__elemento {
    background-color: var(--color-de-fondo-menu);
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.formacion__icono {
    max-width: 150px;
}

/*------------------------------ Sección de Proyectos --------------------------------*/

.proyectos {
    display: flex;
}

/*------------------------------ Sección de Contacto ---------------------------------*/


/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: 40px;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
        font-size: 1rem;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }
}

/* Pantallas grandes */
@media (max-width: 1024px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    .cabecera__logo {
        max-width: 80px;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
}
